body{
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Tilt Prism', cursive; */
    font-weight: 500;
    padding: 0;
}

#main_nav{
    background-color: #4F709C;
    font-size: 20px;
}

.nav-link{
    
    border-radius: 10%;
    color: #FEFFFE;
    
}
.nav-link:hover{
    background-color:#4F709C;    
}


.btn {
  background-color: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  border-width: 0;
  cursor: pointer;
}

.btn-primary {
  background-color: #FF7477;
}

.btn-danger {
  background-color: #213555;
}

form{
    background-color: #4F709C;
}

    
/* container div in books.index page  */
.parent {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card{
  margin: 20px;
}