body{
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Tilt Prism', cursive; */
    font-weight: 500;
    padding: 0;
}

#main_nav{
    background-color: #4F709C;
    font-size: 20px;
}

.nav-link{
    
    border-radius: 10%;
    color: #FEFFFE;
    
}
.nav-link:hover{
    background-color:#4F709C;
}


.btn {
  background-color: none;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-width: 0;
  cursor: pointer;
}

.btn-primary {
  background-color: #FF7477;
}

.btn-danger {
  background-color: #213555;
}

/* form style by omar*/
form{
    background-color: #e9eff8;
    padding: 20px;
    border-radius: 10px;
    color: black;
    width: 50%;
    margin: auto;
    
}

form input {
  display: block;
  width: 50%;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  outline: none;

}
form label {
  font-weight: bold;
  
}
form span {
  display: block;
}
/* End of Form Styling */
.form-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight:700;

}

/* ##### Books Pages Style ########*/
/* container div in books.index page  */
.parent {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card{
  margin: 20px;
}
/* The field that contain Books in Books page Style */
.landing {
  background-color: #f8f8f8;
  height: 300px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing h2 {
  font-size: 100px;
  font-weight: 700;
}
/*End The field that contain Books in Books page Style */