body{
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Tilt Prism', cursive; */
    font-weight: 500;
    padding: 0;
}

#main_nav{
    background-color: #4F709C;
    font-size: 20px;
}

.nav-link{
    
    border-radius: 10%;
    color: #FEFFFE;
    
}
.nav-link:hover{
    background-color:#4F709C;    
}

/* container div in books.index page  */
.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.card {
    margin-bottom: 30px;
    margin-top: 30px;
}