{%extends 'students/layouts/base.html'%} 
{%load static%} 
{% block title %}Home{%endblock %} 

{% block 'content'%}
<body style="background-image: url(/media/8.jpg)">
  <div class="container mt-5">
    <div class="row justify-content-center align-items-center mt-5">
      
      <!-- Column for Text and Button -->
      <div class="col-12 col-md-4 text-center">
        <h2 class="fw-bold" style="color: #feee; font-family: roboto;">
          LMS online library
        </h2>
        <p class="fw-bold text-light">
          Here you can find all of the books you are looking for.
        </p>
        <a href="{% url 'books.index' %}" class="btn btn-primary">
          Go to Books
        </a>
      </div>

      <div class="col-md-3 text-center">
        
      </div>
      <!-- Column for Carousel, stacked under Text for Mobile -->
      <div class="col-12 col-md-4 mt-4 mt-md-0">
        <h2 class="fw-bolder fst-italic text-center" style="color: #feee; font-family: roboto;">
          Most Popular Books
        </h2>
        
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner carousel-fade align-items-center pt-5">
            <div class="carousel-item active">
              <img src="/media/books/images/Shy.jpg" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
              <img src="/media/books/images/BallFour.jpg" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
              <img src="/media/books/images/Pineapple_street.jpg" class="d-block w-100" alt="..." />
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

    </div>
  </div>
</body>

{% endblock %}