{%extends 'students/layouts/base.html'%} {%load static%} {% block 'content' %}

  
<div class="row justify-content-center align-items-center">
    <div class="card col-5">
      <h1 class="card-header">name : {{student.name}}</h1>
      <div class="card-body">
        <h5 class="card-title text-danger pt-1">email : {{student.email}}</h5>
        <p class="card-text fw-bold text-black pt-1">birthdate : {{student.birthdate}}</p>
        <p class="card-text fw-bold text-black pt-1">phone number : {{student.pages}}</p>
        <h5 class="card-text fw-bold text-black pt-1">password : {{student.password}}</h5>
        
        <div class="row justify-content-center align-items-center pt-1">
          <div class=" col-4">
        <a href="{% url 'books.index'%}" class="btn btn-primary">return to books</a>
      </div>

        <div class=" col-6">
        
      </div>
        
      </div>

      
    </div>

      
  
    </div>


     
    <div class="col-1">
    </div>

    <div class="col-5">
      
    </div>
  </div>
</div>


</div>
{% endblock %}
