{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} base {% endblock %}</title>
    <link
      rel="stylesheet"
      href="{% static 'students/bootstrap/css/bootstrap.css' %}"
    />
    <link rel="stylesheet" href="{% static 'students/css/style.css' %}" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@800&family=Tilt+Prism&display=swap");
    </style>
  </head>
  <body>
    <header>
      <div>
        <nav class="navbar navbar-expand-lg" id="main_nav">
          <div class="container-fluid">
            <a class="navbar-brand" style="background-color:#fFfBF7;border-radius:10px">LMS</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div
              class="collapse navbar-collapse justify-content-center me-5 align-items-center"
              id="navbarNavAltMarkup"
            >
              <div class="navbar-nav">
                <a class="nav-link ms-3" href="{% url 'student.index' %}"
                  >Home</a
                >
                <a class="nav-link ms-3" href=" {% url 'books.index'%}"
                  >books</a
                >
                {% if not user.id %}
                <a class="nav-link ms-3" href=" {% url 'student.login'%}"
                  >login</a
                >
                <a class="nav-link ms-3" href="{% url 'student.signup'%}"
                  >signup</a
                >
                {% else %}
                <a class="nav-link ms-3" href=" {% url 'student.profile'%}"
                  >profile</a
                >
                <a class="nav-link ms-3" href=" {% url 'logout'%}">Logout</a>
                {% endif %}
                <a
                  class="nav-link ms-3 text-dark me-5" style="background-color:#BFDBF7;border-radius:10px"
                  href="{% url 'admin:index' %}"
                >
                  admin login
                </a>
                <a class="nav-link  text-danger bg-body ms-5" style="background-color:#BFDBF7;border-radius:10px;"> {{user}} </a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <div class="content">
      <div style="min-height: 500px">{% block 'content'%} {% endblock %}</div>
    </div>

    <script src="{% static 'students/bootstrap/js/bootstrap.js'%}"></script>
      <!-- Footer -->
      <footer class="text-center text-white" style="background-color: #4f709c">
        <!-- Grid container -->
        <div class="container">
          <hr class="my-5" />

          <!-- Section: Text -->
          <section class="mb-5">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-8">
                <p>
                  This website is owned and operated by omar assal and seif
                  basel. The content of this website,is protected by copyright
                  law. You may not reproduce, distribute, or modify the content
                  of this website without the express written permission of omar
                  assal and seif basel. Online Library Management System is a
                  free service. However,Thank you for visiting Online Library
                  Management System. We hope you enjoy our collection of books!
                </p>
              </div>
            </div>
          </section>
          <!-- Section: Text -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div
          class="text-center p-4"
          style="background-color: rgba(0, 0, 0, 0.2)"
        >
          Copyright © 2023, Online Library Management System. All rights
          reserved.
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </div>
    <!-- End of .container -->
  </body>
</html>
