{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'students/CSS/style.css'%}" />
    <title>base</title>
    <link
      rel="stylesheet"
      href="{% static 'students/bootstrap/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'students/css/style.css' %}" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@800&family=Tilt+Prism&display=swap");
    </style>
  </head>
  <body>
    <header>
      <div>
        <nav class="navbar navbar-expand-lg" id="main_nav">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">LMS</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div
              class="collapse navbar-collapse justify-content-center me-5"
              id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link ms-3" href="{% url 'student.index' %}">Home</a>
                <a class="nav-link ms-3" href=" {% url 'student.profile'%}">profile</a>
                <a class="nav-link ms-3" href=" {% url 'books.index'%}">books</a>
                <a class="nav-link ms-3" href=" {% url 'student.login'%}">login</a>
                <a class="nav-link ms-3" href="{% url 'student.signup'%}">signup</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
  </header>
    {% block 'content'%} 
    
    {% endblock %}

    <script src="{% static 'students/bootstrap/js/bootstrap.js'%}"></script>
  </body>
</html>
