{%extends 'students/layouts/base.html'%} {%load static%} {% block 'content' %}
{%for book in books%}
  <div class="text-center p-5 ">
    <h1>{{book.title}} by {{book.author}}</h1>
  </div>

<div class="row justify-content-center align-items-center">
    <div class="card col-5">
      <h1 class="card-header">Title : {{book.title}}</h1>
      <div class="card-body">
        <h5 class="card-title text-danger pt-1">Author : {{book.author}}</h5>
        <h5>description: </h5>
        <p class="card-text">{{book.description}}</p>
        <p class="card-text fw-bold text-black pt-1">Genre : {{book.genre}}</p>
        <p class="card-text fw-bold text-black pt-1">number of pages : {{book.pages}}</p>
        <p class="card-text fw-bold text-black pt-1">borrow date : {{book.borrow_date}}</p>
        <p class="card-text fw-bold text-black pt-1">borrow period : {{book.borrow_period}} Days</p>
        <h5 class="card-text fw-bold text-black pt-1">Price : ${{book.price}}</h5>
        
        <div class="row justify-content-center align-items-center pt-1">
      
          <div class=" col-3">
        <a href="{% url 'books.index'%}" class="btn btn-primary">return to books</a>
      </div>
      <div class=" col-3">
        <a href="{{book.get_borrow_url}}" class="btn btn-danger me-4 ">borrow book</a>
      </div>
      <div class=" col-3">
        <a href="{{book.get_return_to_shelf_url}}" class="btn btn-warning me-4 ">return to shelf</a>
      </div>
        <div class=" col-3">
        <h5 class="fw-bold text-black text-end text-danger"> status: {{book.status}}</h5>
      </div>
        
      </div>

      
    </div>

      
  
    </div>
    
    
    <div class="col-1 justify-content-center align-items-center">
    </div>
    
    <div class="col-5 justify-content-center align-items-center ps-5 ms-5">
      <img
      class="card-img-top"
      src="{{book.get_image_url}}"
      alt="Card image cap"
      style="height: 450px;width:300px"
      />
    </div>
  </div>
</div>


</div>
{%endfor%}
{% endblock %}