{% comment %} {%extends 'students/layouts/base.html'%} {%load static%} {% block 'content' %}

<div class="container mt-5">
  <form class="form-horizontal border-black p-4" action="" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label>title</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Enter book title"
        name="title"
      />
    </div>

    <div class="form-group">
      <label>author</label>

      <input
        type="text"
        class="form-control"
        id="email"
        placeholder="Enter the name of author"
        name="author"
      />
    </div>

    <div class="form-group">
      <label>image</label>
      <input
        type="file"
        class="form-control"
        id="image"
        placeholder="insert book cover"
        name="image"
      />
    </div>

    <div class="form-group">
      <label>descreption</label>
      <input
        type="text"
        class="form-control"
        id="email"
        placeholder="write book descreption"
        name="description"
      />
    </div>

    <div class="form-group">
      <label>price</label>
      <input
        type="number"
        class="form-control"
        id="password"
        placeholder="Enter the price of the book"
        name="price"
      />
    </div>
    <button type="submit" value="save" class="btn btn-primary mt-3">
      Submit
    </button>
  </form>
</div>

{% endblock %}



 {% endcomment %}
