{%extends 'students/layouts/base.html'%}
{%load static%}
{% block 'content' %}

<div class="container">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" alt="Card image cap" style="max-height: 300px;">
        <div class="card-body">
        <h5 class="card-title">Title: Card title</h5>
                        <h5 class="card-title">Author: Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>  
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" alt="Card image cap" style="max-height: 300px;">
        <div class="card-body">
        <h5 class="card-title">Title: Card title</h5>
                        <h5 class="card-title">Author: Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>  
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" alt="Card image cap" style="max-height: 300px;">
        <div class="card-body">
        <h5 class="card-title">Title: Card title</h5>
                        <h5 class="card-title">Author: Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" alt="Card image cap" style="max-height: 300px;">
        <div class="card-body">
        <h5 class="card-title">Title: Card title</h5>
                        <h5 class="card-title">Author: Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>  
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" alt="Card image cap" style="max-height: 300px;">
        <div class="card-body">
        <h5 class="card-title">Title: Card title</h5>
                        <h5 class="card-title">Author: Card title</h5>
        

        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>  
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" alt="Card image cap" style="max-height: 300px;">
        <div class="card-body">
        <h5 class="card-title">Title: Card title</h5>
                        <h5 class="card-title">Author: Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" alt="Card image cap" style="max-height: 300px;">
        <div class="card-body">
        <h5 class="card-title">Title: Card title</h5>
                        <h5 class="card-title">Author: Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>  
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" alt="Card image cap" style="max-height: 300px;">
        <div class="card-body">
        <h5 class="card-title">Title: Card title</h5>
                        <h5 class="card-title">Author: Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>  
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" alt="Card image cap" style="max-height: 300px;">
        <div class="card-body">
        <h5 class="card-title">Title: Card title</h5>
                        <h5 class="card-title">Author: Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" alt="Card image cap" style="max-height: 300px;">
        <div class="card-body">
        <h5 class="card-title">Title: Card title</h5>
                        <h5 class="card-title">Author: Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>  
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" alt="Card image cap" style="max-height: 300px;">
        <div class="card-body">
        <h5 class="card-title">Title: Card title</h5>
                        <h5 class="card-title">Author: Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>  
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" alt="Card image cap" style="max-height: 300px;">
        <div class="card-body">
        <h5 class="card-title">Title: Card title</h5>
                        <h5 class="card-title">Author: Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" alt="Card image cap" style="max-height: 300px;">
        <div class="card-body">
        <h5 class="card-title">Title: Card title</h5>
                        <h5 class="card-title">Author: Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" alt="Card image cap" style="max-height: 300px;">
        <div class="card-body">
        <h5 class="card-title">Title: Card title</h5>
                        <h5 class="card-title">Author: Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
<!-- End of container  -->
</div>  
{% endblock %}