{%extends 'students/layouts/base.html'%}
{%load static%}
{% block 'content' %}

<div class="parent">
    {%for book in books%}
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" alt="Card image cap" style="max-height: 300px;">
        <div class="card-body">
            <h5 class="card-title">
                Title: {{book.title}}
            </h5>
            <h5 class="card-title">
                Author: {{book.author}}
            </h5>
            <h5 class="card-title">
                status: {{book.status}}
            </h5>
            <p class="card-text">{{book.description}}</p>
            <a href="#" class="btn btn-primary">view Details</a>
        </div>
    </div>
    {% endfor %}


<!-- End of Container div -->
</div>
{% endblock %}