{%extends 'students/layouts/base.html'%} {%load static%} {% block 'content' %}

  <div class="text-center p-5">
    <h1>Book details </h1>
  </div>

<div class="row justify-content-center align-items-center">
    <div class="card col-5">
      <h1 class="card-header">{{book.title}}</h1>
      <div class="card-body">
        <h5 class="card-title">{{book.author}}</h5>
        <p class="card-text">{{book.description}}</p>
        <p class="card-text text-danger">{{book.genre}}</p>
        <h5 class="card-text fw-bold text-black">${{book.price}}</h5>
        
        <a href="{% url 'books.index'%}" class="btn btn-primary">return to books</a>
      </div>
    </div>

    
    <div class="col-1">
    </div>

    <div class="col-5">
      <img
        class="card-img-top"
        src="{{book.get_image_url}}"
        alt="Card image cap"
        style="height: 450px;width:300px"
      />
    </div>
  </div>
</div>


</div>
{% endblock %}
